.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.route-container{
  margin:20px;
}

.blogImg{
  width: 100%;
  min-height: 50%;
}
.welcome{
  font-size: 130%;
}
.blog-poster{
  width: 340px;
  height: 500px;
  object-fit: cover;
}
.blog-container{
 /*background: orange;*/
  width: 340px;
  height:min-content;
}
.blog-specs{
  display:flex;
  align-items:center;
  justify-content: space-between;
}
.blog-name{
  font-size: 24px;
  margin: 0;
}
.blog-summary{
 margin-top: 0;
}

.blog-list{
  
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.counter-container{
  display: flex;
  gap: 10px;
}
.rating{
  
}
.like-dislike{
  font-size: 20px;
}
.add-place-form{
  display:flex;
  flex-direction:column;
  gap:10px;
  margin:16px;
}
.board{
 display: flex;
 flex-wrap: wrap;
 width: 492px;  
}

.not-found{
  text-align:center;
  font-size:54px;
  margin:0;
}
.blog-detail-container{
  max-width: 900px;
  padding: 24px;
}
.route-container{
  margin:20px;
}
.write {
  padding-top: 50px;
}
.Form {
  position: relative;
}
.writeForm {
  align-items: center;
  padding: 20px;
}
.writeFormGroup {
  align-items: center;
}
.writeInput {
  font-size: 30px;
  border: none;
  padding: 20px;
  width: 70vw;
}
.GiveInput {
  font-size: 30px;
  border: none;
  padding: 20px;
  width: 70vw;
}
.Submit {
  position: absolute;
  font-size: 18px;
  color: white;
  background-color: teal;
  border: none;
  font-size: 20px;
  cursor: pointer;
  align-items: center;
}
.writeInput {
  width: 70vw;
  height: 60vh;
  font-family: inherit;
  font-size: 20px;
}
.headerTitles{
  font-family: 'Lora',serif;
  font-size: 40px;
}
.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
}
.headerImg {
  width: 100%;
  height: 550px;
  margin-top: 10px;
  object-fit: cover;
}
.headerTitleLg {
  position: absolute;
  bottom: 60%;
  font-size: 100px;
  color: #282c34;
}
.searchbar{
width: 70px;
font-size: 20px;
cursor: pointer;
}
.Container {
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 100%;
  margin-top: .5rem;
  
}
.blog-container{
 
  align-items: center;
    justify-content: center; 
    width: 50%;
    margin-top: 5;
    padding: 0 2rem;
    height: 50%;
}



